<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>


<body>
    <header>
        <p>My Blog</p>
    </header>
    <main>
        <h1>Welcome to My Blog</h1>
        <div class="main-content">
            <ul class="button-list">
		<li><a class="login" href="/login">Login</a></li>
		<li><a class="register" href="/register">Register</a></li>
	    </ul>
	</div>
	<div class="titles">
	<h4>Topics</h4>
	<ul>
	    <li><a href="#">Python</a></li>
	    <li><a href="#">Javascript</a></li>
	    <li><a href="#">Flask framework</a></li>
	</ul>
	</div>
    </main>
    <footer>
        <p>&copy; 2023 Your Company</p>
    </footer>
</body>

</html>
