<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header>
    <p>My blog</p>
  </header>
  <main>
    <form action="http://127.0.0.1:5000/api/v1/login_view" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
      <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
  </main>
  <footer>
    <p>&copy; 2023 Your Company</p>
  </footer>
</body>
</html>
